CREATE DATABASE [Localiza]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Localiza', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Localiza.mdf' , SIZE = 5120KB , FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Localiza_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Localiza_log.ldf' , SIZE = 1024KB , FILEGROWTH = 10%)
GO
USE [Localiza]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [Localiza] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
