USE Localiza

BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.Amigo
	DROP CONSTRAINT FK_Usuario_Amigo
GO
ALTER TABLE dbo.Amigo
	DROP CONSTRAINT FK_Usuario_Usuario
GO
ALTER TABLE dbo.Usuario SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.Amigo
	DROP CONSTRAINT PK_Amigo
GO
ALTER TABLE dbo.Amigo ADD CONSTRAINT
	PK_Amigo PRIMARY KEY CLUSTERED 
	(
	ID
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.Amigo ADD CONSTRAINT
	FK_Usuario_Amigo FOREIGN KEY
	(
	IDAmigo
	) REFERENCES dbo.Usuario
	(
	ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.Amigo ADD CONSTRAINT
	FK_Usuario_Usuario FOREIGN KEY
	(
	IDUsuario
	) REFERENCES dbo.Usuario
	(
	ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.Amigo SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.Posicao
	(
	IDUsuario bigint NOT NULL,
	Posicao_Latitude decimal(18, 0) NOT NULL,
	Posicao_Longitude decimal(18, 0) NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.Posicao ADD CONSTRAINT
	FK_Usuario_Posicao FOREIGN KEY
	(
	IDUsuario
	) REFERENCES dbo.Usuario
	(
	ID
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.Posicao SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
