<router-outlet></router-outlet>

 <nav *ngIf="usuarioPosicaoDTO != null">
  <Header>
    Selecione usuário
  </Header>
  <li *ngFor="let usuario of usuarioPosicaoDTO" (click)="ConsultarUsuarioAmigos(usuario.id)">
    {{usuario.usuario_Nome}}
  </li> 
</nav> 
<nav *ngIf="usuarioAmigosDTO != null">
  <Header>
    Selecione amigo
  </Header>
  <li *ngFor="let usuario of usuarioAmigosDTO" (click)="ConsultarAmigosPosicoes(usuario.idAmigo)">
    {{usuario.usuario_Nome}}
  </li> 
</nav> 
<nav *ngIf="amigoDTO != null">
  <Header>
    Amigos próximos
  </Header>
  <li *ngFor="let amigo of amigoDTO">
    {{amigo.usuario_Nome}} - {{amigo.distancia}}
  </li> 
</nav> 